* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(169deg, #262B2F -0.68%, #16191D 74.03%) !important;
}

html {
    font-family: "Gilroy-SemiBold";
    font-size: 62.5%;
    color: #D6E1EF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #D6E1EF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: none !important;
}

li {
    list-style: none;
}

button {
    background: transparent;
    color: inherit;
    border: transparent;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input[type=text],
input[type=email],
input[type=tel] {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.hidden {
    display: none !important;
}

.active {
    top: 0 !important;
}

.container {
    max-width: 1820px;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1342px;
        padding: 0 20px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 990px;
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 990px;
        padding: 0 15px;
    }
}

@font-face {
    font-family: "Gilroy-SemiBold";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("../fonts/Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("../fonts/Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "Gilroy-SemiBold";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("../fonts/Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.header {
    padding-top: 20px;
    position: relative;
}

.header__wrapper {
    display: -ms-flexbox;
    display: flex;
    gap: 0 294px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1760px) {
    .header__wrapper {
        gap: 0 0;
    }
}

@media (max-width: 1200px) {
    .header__wrapper {
        display: none;
    }
}

.header__wrapper-inner {
    display: -ms-flexbox;
    display: flex;
    gap: 0 20px;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 424px) {
    .header__wrapper-inner {
        gap: 5px;
    }
}

.header__wrapper-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 42px;
}

.header__wrapper-nav_link {
    transition: all 5s ease;
}

.header__wrapper-nav_link:hover {
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    background: -o-linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.header__logo {
    width: 195px;
    height: 53px;
    z-index: 101;
}

@media (max-width: 424px) {
    .header__logo {
        width: 125px;
        height: 36px;
    }
}

.header__logo img {
    width: 195px;
    height: 53px;
}

@media (max-width: 424px) {
    .header__logo img {
        width: 125px;
        height: 36px;
    }
}

.header__mobile {
    display: none;
}

@media (max-width: 1200px) {
    .header__mobile {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 1200px) and (max-width: 424px) {
    .header__mobile {
        gap: 0;
    }
}

@media (max-width: 1200px) {
    .header__mobile-wrapper {
        transition: 0.8s all;
        padding-top: 130px;
        padding-bottom: 42px;
        height: 803px;
        z-index: 100;
        position: absolute;
        top: -5000px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(324deg, #32383E -77.68%, #17191C 183.1%);
        box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.4), -4px -2px 16px 0px rgba(195, 200, 205, 0.05);
    }
}

@media (max-width: 1200px) {
    .header__mobile-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 42px 0;
    }
}

@media (max-width: 1200px) {
    .header__mobile-img {
        margin-top: 78px;
    }
}

@media (max-width: 1200px) {
    .header__mobile-btn {
        margin-top: -16px;
    }
}

.hamb__field {
    width: 70px;
    height: 70px;
    background-image: url("../img/burger.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
    z-index: 101;
}

.hamb__field-active {
    z-index: 101;
    width: 70px;
    height: 70px;
    background-image: url("../img/box-clouse.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.nav_active {
    position: relative;
    width: 99px;
    height: 44px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 42px;
    border: 2px solid #32383E;
}

.main__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main__content-img {
    -webkit-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
    height: auto;
}

@media (max-width: 1760px) {
    .main__content-img {
        -webkit-transform: translate(-187px, 76px);
        transform: translate(-187px, 76px);
    }
}

@media (max-width: 1340px) {
    .main__content-img {
        -webkit-transform: translate(-187px, 110px);
        transform: translate(-187px, 110px);
    }
}

@media (max-width: 1200px) {
    .main__content-img {
        -webkit-transform: translate(-400px, 102px);
        transform: translate(-400px, 102px);
    }
}

@media (max-width: 767px) {
    .main__content-img {
        -webkit-transform: translate(-270px, 71px);
        transform: translate(-270px, 71px);
    }
}

@media (max-width: 576px) {
    .main__content-img {
        display: none;
    }
}

@media (max-width: 1340px) {
    .main__content-img img {
        width: 661px;
        height: 386px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}

@media (max-width: 990px) {
    .main__content-img img {
        width: 520px;
        height: auto;
    }
}

@media (max-width: 850px) {
    .main__content-img img {
        width: 430px;
    }
}

@media (max-width: 767px) {
    .main__content-img img {
        width: 375px;
    }
}

@media (max-width: 639px) {
    .main__content-img img {
        width: 290px;
    }
}

.main__content-text {
    min-width: 688px;
    z-index: 10;
}

@media (max-width: 767px) {
    .main__content-text {
        min-width: 500px;
    }
}

@media (max-width: 576px) {
    .main__content-text {
        min-width: 0;
        width: 100%;
    }
}

.main__content-text_mg {
    padding: 20px 0 65px;
}

@media (max-width: 850px) {
    .main__content-text_mg {
        padding: 10px 0 40px;
    }
}

.main__content-titel {
    width: 812px;
}

@media (max-width: 850px) {
    .main__content-titel {
        width: 500px;
    }
}

@media (max-width: 576px) {
    .main__content-titel {
        width: 100%;
    }
}

.main__content-technologies {
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    gap: 40px 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
}

@media (max-width: 576px) {
    .main__content-technologies {
        max-width: 317px;
    }
}

@media (max-width: 850px) {
    .main__content-technologies {
        margin-top: 30px;
        gap: 30px 35px;
    }
}

@media (max-width: 424px) {
    .main__content-technologies {
        gap: 20px 25px;
        max-width: 239px;
    }
}

.main__content-technologies-img {
    width: 45px;
    height: 45px;
}

@media (max-width: 424px) {
    .main__content-technologies-img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 424px) {
    .main__content-technologies-imgOne {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 424px) {
    .main__content-technologies-imgTwo {
        width: 35px;
        height: 35px;
    }
}

.main__content-icon {
    display: -ms-flexbox;
    display: flex;
    gap: 74px;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
}

@media (max-width: 850px) {
    .main__content-icon {
        margin-top: 50px;
    }
}

@media (max-width: 576px) {
    .main__content-icon {
        gap: 30px;
    }
}

@media (max-width: 424px) {
    .main__content-icon {
        gap: 20px;
    }
}

@media (max-width: 850px) {
    .main__content-icon_img {
        width: 150px;
    }
}

@media (max-width: 576px) {
    .main__content-icon_img {
        width: 140px;
    }
}

@media (max-width: 424px) {
    .main__content-icon_img {
        width: 115px;
    }
}

@media (max-width: 850px) {
    .main__content-icon_one {
        width: 30px;
    }
}

@media (max-width: 576px) {
    .main__content-icon_one {
        width: 25px;
    }
}

@media (max-width: 424px) {
    .main__content-icon_one {
        width: 25px;
    }
}

.btn__header {
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 179px;
    height: 56px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 42px;
}

.btn__header:hover {
    box-shadow: 6px 9px 40px rgba(56, 55, 138, 0.54), -6px -6px 16px rgba(255, 255, 255, 0.1);
}

.btn__header::before {
    content: "";
    position: absolute;
    top: -1.7px;
    left: -1px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(119, 161, 211) 0%, rgb(121, 203, 202) 50%, rgb(230, 132, 174) 100%) border-box;
    border: inherit;
    border-radius: inherit;
    -webkit-mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.btn-form {
    display: inline-block;
    color: #D6E1EF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 35px;
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    background: linear-gradient(90deg, #F35F84 0%, #7580F2 100%);
    border-radius: 8px;
}

.btn-form:hover {
    box-shadow: 6px 9px 40px rgba(56, 55, 138, 0.54), -6px -6px 16px rgba(255, 255, 255, 0.1);
}

@media (max-width: 767px) {
    .btn-form_wrap {
        margin: 0 auto;
        width: 240px;
        margin-top: 30px;
    }
}

.btn-form span {
    display: inline-block;
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
}

.btn-footer {
    border-radius: 42px;
    border: 2px solid #32383E;
    padding: 16px 37px 16px 66px;
    background: linear-gradient(90deg, #F35F84 0%, #7580F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    position: relative;
}

@media (max-width: 1200px) {
    .btn-footer {
        display: none;
    }
}

.btn-footer::before {
    position: absolute;
    content: url("../img/phone.png");
    top: 14px;
    left: 32px;
}

.btn-footer:hover {
    box-shadow: 6px 9px 40px rgba(56, 55, 138, 0.54), -6px -6px 16px rgba(255, 255, 255, 0.1);
}

.btn-show {
    color: #6D737A;
    font-family: "Gilroy-Medium";
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 42px;
    border: 2px solid #32383E;
}

.btn-cookie {
    color: #fff;
    font-size: 16px;
    padding: 19px 58px 17px;
    border-radius: 42px;
    border: 2px solid transparent;
    position: relative;
    padding: 10px 40px 10px;
}

@media (max-width: 990px) {
    .btn-cookie {
        padding: 10px 40px;
    }
}

.btn-cookie:hover {
    box-shadow: 6px 9px 40px rgba(56, 55, 138, 0.54), -6px -6px 16px rgba(255, 255, 255, 0.1);
}

.btn-cookie::after {
    content: "";
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(119, 161, 211) 0%, rgb(121, 203, 202) 50%, rgb(230, 132, 174) 100%) border-box;
    border: inherit;
    border-radius: inherit;
    -webkit-mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.linear-gradient {
    background: linear-gradient(90deg, #F35F84 0%, #7580F2 100%);
    background: -o-linear-gradient(90deg, #F35F84 0%, #7580F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linear-gradient-bird {
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    background: -o-linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-17px {
    display: inline-block;
    font-size: 17px;
    z-index: 101;
}

@media (max-width: 424px) {
    .text-17px {
        font-size: 13px;
    }
}

.link-header {
    color: #fff;
    font-family: "Gilroy-Medium";
    font-size: 18px;
}

.titel-h1 {
    font-family: "Gilroy-Bold";
    font-size: 64px;
    line-height: 59px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .titel-h1 {
        font-size: 40px;
        line-height: 30px;
    }
}

@media (max-width: 576px) {
    .titel-h1 {
        font-size: 35px;
        line-height: 25px;
    }
}

.titel-h2 {
    display: inline-block;
    background: linear-gradient(90deg, #F35F84 0%, #7580F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Gilroy-Bold";
    font-size: 48px;
    font-weight: 700;
}

.text-18px-Global {
    font-size: 18px;
    line-height: 130%;
}

@media (max-width: 767px) {
    .text-18px-Global {
        font-size: 17px;
    }
}

.titel-h3 {
    display: inline-block;
    font-family: "Gilroy-Bold";
    font-size: 34px;
}

.titel-h4 {
    font-family: "Gilroy-Medium";
    font-size: 24px;
}

@media (max-width: 1440px) {
    .titel-h4 {
        font-size: 22px;
    }
}

.text-20px-Duo {
    color: #6D737A;
    font-size: 20px;
    line-height: 130%;
}

@media (max-width: 1440px) {
    .text-20px-Duo {
        font-size: 16px;
    }
}

.text-13-Global {
    font-size: 13px;
    line-height: 130%;
}

.text-12-Global {
    font-size: 12px;
    line-height: 130%;
}

.text-12-orange {
    color: #F3705A;
    font-size: 13px;
    line-height: 130%;
}

.text-24-Duo {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 24px;
    line-height: 130%;
}

@media (max-width: 990px) {
    .text-24-Duo {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .text-24-Duo {
        font-size: 14px;
    }
}

.titel-24-gradient {
    font-family: "Gilroy-Bold";
    font-size: 24px;
}

.titel-24-Global {
    font-family: "Gilroy-Bold";
    font-size: 24px;
}

@media (max-width: 767px) {
    .titel-24-Global {
        font-size: 22px;
    }
}

.text-64-gradient {
    text-align: center;
    font-family: "Gilroy-Bold";
    font-size: 64px;
}

@media (max-width: 990px) {
    .text-64-gradient {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .text-64-gradient {
        font-size: 35px;
    }
}

.text-link {
    font-size: 13px;
    line-height: 130%;
}

@media (max-width: 767px) {
    .text-link {
        font-size: 10px;
    }
}

.titel-40-white {
    color: #fff;
    font-family: "Gilroy-Bold";
    font-size: 40px;
}

.titel-24-white {
    color: #fff;
    font-family: "Gilroy-Bold";
    font-size: 24px;
}

.titel-34-white {
    color: #fff;
    font-family: "Gilroy-Bold";
    font-size: 34px;
}

.text-13-Duo {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
}

.text-13-semiBold {
    color: #6D737A;
    font-family: "Gilroy-Bold";
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
}

.text-number {
    color: #F35F84;
    text-align: center;
    font-size: 20px;
}

.text-16-semiBold {
    font-size: 16px;
    line-height: 130%;
}

.text-18-gray {
    color: #C4C4C4;
    font-size: 18px;
}

.text-20-Global {
    font-size: 20px;
    line-height: 130%;
}

@media (max-width: 1200px) {
    .text-20-Global {
        font-size: 18px;
    }
}

.text-footer {
    font-family: "Gilroy-Regular";
    font-size: 18px;
}

.text-contact-18 {
    color: #fff;
    font-size: 18px;
    line-height: 130%;
}

@media (max-width: 639px) {
    .text-contact-18 {
        font-size: 15px;
    }
}

.text-contact-24 {
    color: #fff;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    line-height: 150%;
}

@media (max-width: 639px) {
    .text-contact-24 {
        font-size: 21px;
    }
}

.text-contact-social {
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    display: block;
}

@media (max-width: 639px) {
    .text-contact-social {
        font-size: 15px;
    }
}

.trust__wrapper {
    padding-top: 35px;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px;
    -ms-flex-align: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
}

@media (max-width: 1000px) {
    .trust__wrapper {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (max-width: 1340px) {
    .trust__wrapper-img {
        width: 175px;
        height: 77px;
    }
}

@media (max-width: 1200px) {
    .trust__wrapper-img {
        width: 135px;
        height: 60px;
    }
}

.mg-left-4px {
    margin-left: 4px;
}

.pt-65px {
    padding-top: 65px;
}

@media (max-width: 767px) {
    .pt-65px {
        padding-top: 50px;
    }
}

.mt-10px {
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .mt-10px {
        margin-top: 4px;
    }
}

.mt-48px {
    margin-top: 48px;
}

.mt-70px {
    margin-top: 70px;
}

.gradient-blue {
    background: linear-gradient(90deg, rgba(94, 43, 130, 0.7) 0%, rgba(74, 161, 158, 0.7) 100%);
}

.gradient-violet {
    background: linear-gradient(90deg, rgba(204, 43, 94, 0.7) 0%, rgba(117, 59, 135, 0.7) 100%);
}

.gradient-pink {
    background: linear-gradient(90deg, rgba(217, 227, 247, 0.7) 0%, rgba(214, 163, 163, 0.7) 100%);
}

.thoughtarium__link {
    display: -ms-flexbox;
    display: flex;
    gap: 0 7px;
}

.number__content {
    border-radius: 24px;
    border: 0.5px solid #32383E;
    padding: 38px 68.5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 244px;
}

@media (max-width: 1600px) {
    .number__content {
        gap: 112px;
    }
}

@media (max-width: 1340px) {
    .number__content {
        gap: 64px;
        padding: 38px 20px;
    }
}

@media (max-width: 990px) {
    .number__content {
        gap: 40px;
    }
}

@media (max-width: 576px) {
    .number__content {
        display: block;
    }
}

.number__content-inner {
    max-width: 372px;
}

@media (max-width: 1340px) {
    .number__content-inner {
        max-width: 237px;
        text-align: center;
    }
}

@media (max-width: 990px) {
    .number__content-inner {
        max-width: 174px;
    }
}

@media (max-width: 767px) {
    .number__content-inner {
        max-width: 122px;
    }
}

@media (max-width: 576px) {
    .number__content-inner {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .number__content-inner:last-child {
        margin-bottom: 0;
    }
}

.number__content-inner_line {
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    max-width: 220px;
    height: 1px;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .number__content-inner_line {
        max-width: 180px;
    }
}

.number__content-inner_text {
    margin-top: 19px;
}

.weDo {
    padding-top: 80px;
}

@media (max-width: 850px) {
    .weDo {
        padding-top: 60px;
    }
}

.weDo__wrapp {
    padding-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 1760px) {
    .weDo__wrapp {
        gap: 26px;
    }
}

@media (max-width: 1200px) {
    .weDo__wrapp {
        gap: 30px;
    }
}

.weDo__wrapp-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 43px 26px 43px 36px;
    max-width: 552px;
    border: 0.5px solid transparent;
    border-radius: 24px;
    transition: 0.2s all;
}

@media (max-width: 1760px) {
    .weDo__wrapp-item {
        max-width: 500px;
        padding: 32px 20px 32px 36px;
    }
}

@media (max-width: 1600px) {
    .weDo__wrapp-item {
        max-width: 440px;
    }
}

@media (max-width: 1440px) {
    .weDo__wrapp-item {
        max-width: 414px;
    }
}

@media (max-width: 1340px) {
    .weDo__wrapp-item {
        max-width: 370px;
    }
}

@media (max-width: 1200px) {
    .weDo__wrapp-item {
        max-width: 290px;
        padding: 32px 19px 26px 36px;
    }
}

@media (max-width: 990px) {
    .weDo__wrapp-item {
        max-width: 380px;
    }
}

@media (max-width: 850px) {
    .weDo__wrapp-item {
        max-width: 339px;
    }
}

@media (max-width: 767px) {
    .weDo__wrapp-item {
        max-width: 600px;
    }
}

.weDo__wrapp-item_titel {
    padding: 30px 0 36px;
}

@media (max-width: 1600px) {
    .weDo__wrapp-item_titel {
        padding: 22px 0 13px;
    }
}

@media (max-width: 1200px) {
    .weDo__wrapp-item_titel {
        padding: 22px 0 22px;
    }
}

.weDo__wrapp-item_img {
    width: 64px;
    height: 64px;
    background: #494C50;
    border-radius: 50%;
}

@media (max-width: 1600px) {
    .weDo__wrapp-item_img {
        width: 48px;
        height: 48px;
    }
}

.weDo__wrapp-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(323deg, #32383E -77.68%, #17191C 139.51%) border-box;
    border: inherit;
    border-radius: inherit;
    -webkit-mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.weDo__wrapp-item:hover {
    background: linear-gradient(323deg, #32383E -77.68%, #17191C 139.51%);
    box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.4), -4px -2px 16px 0px rgba(195, 200, 205, 0.05);
}

.weDo__wrapp-item:hover::before {
    border: none;
}

.thoughtarium__wrap {
    display: -ms-flexbox;
    display: flex;
    gap: 0 40px;
    margin-top: 28px;
}

@media (max-width: 1600px) {
    .thoughtarium__wrap {
        gap: 0 24px;
    }
}

@media (max-width: 1000px) {
    .thoughtarium__wrap {
        overflow: scroll;
    }
}

@media (max-width: 576px) {
    .thoughtarium__wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px;
    }
}

.thoughtarium__wrap-item {
    margin-bottom: 1px;
    text-align: start;
    width: 850px;
    height: auto;
    border-radius: 24px;
    position: relative;
    padding: 35px 55px 35px 35px;
}

@media (max-width: 1600px) {
    .thoughtarium__wrap-item {
        padding: 35px 85px 35px 36px;
    }
}

@media (max-width: 1000px) {
    .thoughtarium__wrap-item {
        min-width: 636px;
    }
}

.thoughtarium__wrap-item-titel {
    margin-bottom: 70px;
}

.thoughtarium__wrap-item_text {
    position: relative;
}

.thoughtarium__wrap-item_data {
    padding: 22px 0 24px;
    font-size: 12px;
    line-height: 130%;
}

.thoughtarium__wrap-item_encircle {
    position: relative;
    border: 1px solid transparent;
    border-radius: 24px;
    z-index: 20;
}

.thoughtarium__wrap-item_encircle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(119, 161, 211) 0%, rgb(121, 203, 202) 50%, rgb(230, 132, 174) 100%) border-box;
    border: inherit;
    border-radius: inherit;
    -webkit-mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.thoughtarium__wrap-item_encircle:hover {
    border-radius: 24px;
    background: linear-gradient(324deg, rgb(51, 56, 61) -77.68%, rgb(23, 26, 28) 183.1%);
    box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.4), -4px -2px 16px 0px rgba(195, 200, 205, 0.05);
}

.thoughtarium__wrap-item_encircle:hover::after {
    -webkit-mask: none;
    mask: none;
    background: transparent;
}

.breadcrumds__list {
    display: -ms-flexbox;
    display: flex;
    gap: 0 15px;
}

.breadcrumds__list-item_befor {
    position: relative;
}

.breadcrumds__list-item_befor::after {
    content: "/";
    top: 0;
    left: 53px;
    position: absolute;
}

.case {
    margin-bottom: 20px;
}

.case__task {
    margin-top: 54px;
    display: -ms-flexbox;
    display: flex;
    gap: 0 175px;
}

@media (max-width: 1440px) {
    .case__task {
        gap: 0 198px;
    }
}

@media (max-width: 990px) {
    .case__task {
        gap: 0 119px;
    }
}

@media (max-width: 850px) {
    .case__task {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px;
    }
}

.case__task-inner {
    max-width: 848px;
    text-align: justify;
}

@media (max-width: 850px) {
    .case__task-inner {
        max-width: 610px;
        text-align: start;
    }
}

.case__task-inner-internal {
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 27px;
}

@media (max-width: 1000px) {
    .case__task-inner-internal {
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.case__decision {
    margin-top: 70px;
    display: -ms-flexbox;
    display: flex;
    gap: 0 160px;
}

@media (max-width: 1440px) {
    .case__decision {
        gap: 0 182px;
    }
}

@media (max-width: 990px) {
    .case__decision {
        gap: 0 94px;
    }
}

@media (max-width: 850px) {
    .case__decision {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 36px;
    }
}

.case__decision-inner {
    text-align: justify;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px 0;
    max-width: 848px;
}

@media (max-width: 850px) {
    .case__decision-inner {
        max-width: 610px;
        text-align: start;
        margin-left: 5px;
    }
}

.case__texnologi {
    margin-top: 65px;
    display: -ms-flexbox;
    display: flex;
    gap: 0 119px;
}

@media (max-width: 1200px) {
    .case__texnologi {
        gap: 0 145px;
    }
}

@media (max-width: 990px) {
    .case__texnologi {
        gap: 0 57px;
    }
}

@media (max-width: 850px) {
    .case__texnologi {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 36px;
    }
}

.case__texnologi-inner {
    display: -ms-flexbox;
    display: flex;
    gap: 31px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.case__texnologi-inner-img {
    padding-top: 39px;
    width: 124px;
    height: 124px;
    border-radius: 85.5px;
    background: linear-gradient(324deg, #32383E -77.68%, #17191C 183.1%);
}

.case__task-inner-internal-circle {
    min-width: 56px;
    min-height: 56px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border: 2px solid #32383E;
    border-radius: 50%;
    position: relative;
}

.slider {
    background: linear-gradient(324deg, #32383E -77.68%, #17191C 183.1%);
    padding-bottom: 48px;
}

@media (max-width: 990px) {
    .slider {
        padding-bottom: 93px;
    }
}

.slider__wrapper {
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1915px) {
    .slider__wrapper {
        width: 1400px;
    }
}

@media (max-width: 1600px) {
    .slider__wrapper {
        width: 1197px;
    }
}

@media (max-width: 1400px) {
    .slider__wrapper {
        width: 960px;
    }
}

@media (max-width: 1200px) {
    .slider__wrapper {
        width: 800px;
    }
}

@media (max-width: 990px) {
    .slider__wrapper {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .slider__wrapper {
        width: 500px;
    }
}

@media (max-width: 576px) {
    .slider__wrapper {
        width: 360px;
    }
}

@media (max-width: 385px) {
    .slider__wrapper {
        width: 290px;
    }
}

.swiper {
    border-radius: 24px;
}

@media (max-width: 1600px) {
    .swiper {
        height: 772px;
    }
}

@media (max-width: 1200px) {
    .swiper {
        height: 518px;
    }
}

@media (max-width: 990px) {
    .swiper {
        height: 473px;
    }
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-wrapper {
    border-radius: 24px;
}

@media (max-width: 1200px) {
    .swiper-wrapper {
        width: 800px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    min-width: 56px;
    min-height: 56px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
}

.swiper-button-next {
    -webkit-transform: translateX(86px);
    transform: translateX(86px);
}

@media (max-width: 990px) {
    .swiper-button-next {
        -webkit-transform: translate(-315px, 277.5px);
        transform: translate(-315px, 277.5px);
    }
}

@media (max-width: 990px) and (max-width: 767px) {
    .swiper-button-next {
        -webkit-transform: translate(-190px, 277.5px);
        transform: translate(-190px, 277.5px);
    }
}

@media (max-width: 990px) and (max-width: 576px) {
    .swiper-button-next {
        -webkit-transform: translate(-105px, 277.5px);
        transform: translate(-105px, 277.5px);
    }
}

@media (max-width: 990px) and (max-width: 385px) {
    .swiper-button-next {
        -webkit-transform: translate(-60px, 277.5px);
        transform: translate(-60px, 277.5px);
    }
}

.swiper-button-prev {
    -webkit-transform: translateX(-86px);
    transform: translateX(-86px);
}

@media (max-width: 990px) {
    .swiper-button-prev {
        -webkit-transform: translate(250px, 277.5px);
        transform: translate(250px, 277.5px);
    }
}

@media (max-width: 990px) and (max-width: 767px) {
    .swiper-button-prev {
        -webkit-transform: translate(160px, 277.5px);
        transform: translate(160px, 277.5px);
    }
}

@media (max-width: 990px) and (max-width: 576px) {
    .swiper-button-prev {
        -webkit-transform: translate(105px, 277.5px);
        transform: translate(105px, 277.5px);
    }
}

@media (max-width: 990px) and (max-width: 385px) {
    .swiper-button-prev {
        -webkit-transform: translate(60px, 277.5px);
        transform: translate(60px, 277.5px);
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next::before {
    content: url("../img/Arrow-rite.png");
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.swiper-button-prev::before {
    content: url("../img/Arrow-left.png");
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact__wrapper {
    background-image: url("../img/Rectangle-big.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contact__titel {
    margin: 13px 0 30px;
}

.contact__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 130px;
}

@media (max-width: 639px) {
    .contact__content {
        padding-top: 80px;
    }
}

@media (max-width: 576px) {
    .contact__content {
        padding-bottom: 50px;
    }
}

.contact__content-text {
    max-width: 593px;
}

.contact__content-text-social {
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    gap: 0 13px;
}

@media (max-width: 639px) {
    .contact__content-text-social {
        margin-top: 20px;
    }
}

.contact__content-text-social-img img {
    width: 25px;
    height: 25px;
}

.contact__content-mb {
    margin-bottom: 45px;
}

@media (max-width: 639px) {
    .contact__content-mb {
        margin-bottom: 20px;
    }
}

@media (max-width: 424px) {
    .contact__content-img {
        display: none;
    }
}

.contact__content-img img {
    width: 490px;
}

@media (max-width: 1440px) {
    .contact__content-img img {
        width: 450px;
    }
}

@media (max-width: 990px) {
    .contact__content-img img {
        width: 340px;
    }
}

@media (max-width: 639px) {
    .contact__content-img img {
        width: 240px;
    }
}

@media (max-width: 576px) {
    .contact__content-img img {
        width: 180px;
    }
}

.thoughts {
    padding-top: 70px;
}

@media (max-width: 1200px) {
    .thoughts {
        padding-top: 40px;
    }
}

.thoughts__wrapper {
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px;
}

@media (max-width: 1200px) {
    .thoughts__wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 33px 0;
        margin-top: 35px;
    }
}

.thoughts__wrapper-content_btns {
    margin-top: 35px;
    display: -ms-flexbox;
    display: flex;
    gap: 0 527px;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .thoughts__wrapper-content_btns {
        gap: 141px;
        margin-top: 54px;
    }
}

@media (max-width: 767px) {
    .thoughts__wrapper-content_btns {
        gap: 43px;
    }
}

@media (max-width: 639px) {
    .thoughts__wrapper-content_btns {
        gap: 0 10px;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .thoughts__wrapper-content_btns {
        margin-top: 35px;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: center;
        align-items: center;
    }
}

.thoughts__aside-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1200px) {
    .thoughts__aside-list {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .thoughts__aside-list {
        gap: 8px;
    }
}

.thoughts__aside-list_link {
    font-family: "Gilroy-Medium";
    font-size: 24px;
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
    .thoughts__aside-list_link {
        font-size: 20px;
    }
}

.thoughts__aside-list_link-active {
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardGrid {
    display: grid;
    grid-column: full-start/full-end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 47px;
}

@media (max-width: 1600px) {
    .cardGrid {
        gap: 24px;
        max-width: 968px;
    }
}

.card {
    border-radius: 24px;
    box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.4), -4px -2px 16px 0px rgba(195, 200, 205, 0.05);
}

.card-rectangle {
    padding: 36.39px 15px 50px 14px;
}

@media (max-width: 1600px) {
    .card-rectangle {
        padding: 35px 39px 50px 35px;
    }
}

@media (max-width: 1200px) {
    .card-rectangle {
        padding: 33px 25px 47px;
    }
}

@media (max-width: 850px) {
    .card-rectangle {
        padding: 16px 23px 22px 37px;
    }
}

.card-rectangle-titel {
    max-width: 280px;
}

@media (max-width: 850px) {
    .card-rectangle-titel {
        max-width: 100%;
    }
}

.card-rectangle-text {
    padding: 222px 0 35px;
    max-width: 370px;
}

@media (max-width: 1600px) {
    .card-rectangle-text {
        padding: 200px 0 16px;
    }
}

@media (max-width: 1200px) {
    .card-rectangle-text {
        padding: 190px 0 16px;
    }
}

@media (max-width: 850px) {
    .card-rectangle-text {
        padding: 36px 0 65px;
    }
}

.card-rectangle-link {
    padding-top: 33px;
    display: block;
}

@media (max-width: 850px) {
    .card-rectangle-link {
        padding-top: 15px;
    }
}

.card-elongated {
    padding: 35px 290px 24px 35px;
}

@media (max-width: 1600px) {
    .card-elongated {
        padding: 35px 26px 24px 35px;
    }
}

@media (max-width: 1200px) {
    .card-elongated {
        padding: 33px 11px 23px 35px;
    }
}

@media (max-width: 850px) {
    .card-elongated {
        padding: 35px 23px 24px 37px;
    }
}

.card-elongated-titel {
    max-width: 565px;
}

.card-elongated-text {
    padding: 11px 0;
}

@media (max-width: 1200px) {
    .card-elongated-text {
        padding: 25px 0;
    }
}

.card-elongated-link {
    padding-top: 20px;
}

.card-little {
    padding: 16px 18px 42px 18px;
}

@media (max-width: 1600px) {
    .card-little {
        padding: 16px 36px 20px;
    }
}

@media (max-width: 850px) {
    .card-little {
        padding: 16px 23px 22px 37px;
    }
}

.card-little-titel {
    max-width: 311px;
}

@media (max-width: 1200px) {
    .card-little-titel {
        max-width: 100%;
    }
}

.card-little-text {
    padding: 21px 0 35px;
    max-width: 320px;
}

@media (max-width: 1600px) {
    .card-little-text {
        padding: 20px 0 20px;
    }
}

@media (max-width: 1200px) {
    .card-little-text {
        max-width: 100%;
        padding: 39px 0 50px;
    }
}

@media (max-width: 990px) {
    .card-little-text {
        padding: 39px 0 65px;
    }
}

.card__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1600px) {
    .card__inner {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 14px 0;
    }
}

.card-1 {
    grid-column: 1/1;
    grid-row: 1/3;
}

@media (max-width: 850px) {
    .card-1 {
        grid-column: 1/4;
        grid-row: 1/1;
    }
}

.card-2 {
    grid-column: 2/4;
    grid-row: 1/1;
}

@media (max-width: 850px) {
    .card-2 {
        grid-column: 1/4;
        grid-row: 3/3;
    }
}

.card-3 {
    grid-column: 2/3;
    grid-row: 2/2;
}

@media (max-width: 1200px) {
    .card-3 {
        grid-column: 2/-1;
    }
}

@media (max-width: 850px) {
    .card-3 {
        grid-column: 1/-1;
        grid-row: 2/2;
    }
}

.card-4 {
    grid-column: 3/4;
    grid-row: 2/2;
}

@media (max-width: 1200px) {
    .card-4 {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media (max-width: 850px) {
    .card-4 {
        grid-column: 1/4;
        grid-row: 4/4;
    }
}

.card-5 {
    grid-column: 1/3;
}

@media (max-width: 1200px) {
    .card-5 {
        grid-column: 1/3;
        grid-row: 4/5;
    }
}

@media (max-width: 850px) {
    .card-5 {
        grid-column: 1/4;
        grid-row: 6/6;
    }
}

.card-6 {
    grid-column: 1/2;
    grid-row: 4/5;
}

@media (max-width: 1200px) {
    .card-6 {
        grid-column: 1/4;
        grid-row: 5/6;
    }
}

@media (max-width: 850px) {
    .card-6 {
        grid-column: 1/4;
        grid-row: 7/7;
    }
}

.card-7 {
    grid-column: 2/3;
    grid-row: 4/5;
}

@media (max-width: 1200px) {
    .card-7 {
        grid-column: 1/4;
        grid-row: 7/8;
    }
}

@media (max-width: 850px) {
    .card-7 {
        grid-column: 1/4;
        grid-row: 8/8;
    }
}

.card-8 {
    grid-column: 3/4;
    grid-row: 3/5;
}

@media (max-width: 850px) {
    .card-8 {
        grid-column: 1/4;
        grid-row: 9/9;
    }
}

.cookie {
    position: fixed;
    bottom: 0;
    z-index: 200;
    padding: 28px;
}

.cookie__wrapper {
    padding: 28px 45px;
    border-radius: 24px;
    border: 1px solid #fff;
    background: linear-gradient(324deg, #32383E -77.68%, #17191C 183.1%);
    box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.4), -4px -2px 16px 0px rgba(195, 200, 205, 0.05);
    display: -ms-flexbox;
    display: flex;
    gap: 150px;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 990px) {
    .cookie__wrapper {
        padding: 10px 20px;
        gap: 10px;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .cookie__wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
        padding: 20px 20px;
    }
}

.cookie__wrapper-text {
    color: #D6E1EF;
    line-height: 130%;
    font-size: 16px;
}

@media (max-width: 990px) {
    .cookie__wrapper-text {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .pagination {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-order: 1;
        order: 1;
    }
}

.pagination-list {
    display: -ms-flexbox;
    display: flex;
    gap: 0 8px;
}

.pagination-list__item a {
    width: 44px;
    height: 44px;
    border-radius: 42px;
    border: 2px solid #32383E;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    color: #6D737A;
}

.pagination-list__item a:hover {
    color: #fff;
}

.footer {
    margin-bottom: 80px;
}

.footer__shell {
    border-radius: 24px;
    border: 1px solid #fff;
    width: 100%;
    overflow: hidden;
}

.footer__shell-top {
    padding: 36px 20px 65px 32px;
    display: -ms-flexbox;
    display: flex;
    gap: 0 201px;
}

@media (max-width: 1760px) {
    .footer__shell-top {
        padding: 49px 20px 65px 48px;
        gap: 0 121px;
    }
}

@media (max-width: 1200px) {
    .footer__shell-top {
        padding: 49px 0px 81px 48px;
        gap: 0 30px;
    }
}

@media (max-width: 990px) {
    .footer__shell-top {
        display: block;
        padding: 38px 60px 22px 60px;
    }
}

@media (max-width: 576px) {
    .footer__shell-top {
        padding: 38px 10px 22px 10px;
    }
}

@media (max-width: 1200px) {
    .footer__shell-top-left {
        width: 240px;
    }
}

@media (max-width: 990px) {
    .footer__shell-top-left {
        width: 100%;
    }
}

.footer__shell-top-left_text {
    width: 240px;
    margin-bottom: 60px;
}

@media (max-width: 1760px) {
    .footer__shell-top-left_text {
        margin-bottom: 45px;
    }
}

@media (max-width: 990px) {
    .footer__shell-top-left_text {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .footer__shell-top-left_text {
        margin-bottom: 15px;
    }
}

.footer__shell-top-left-img {
    margin-left: 142px;
}

@media (max-width: 1760px) {
    .footer__shell-top-left-img {
        margin-left: 0;
    }
}

@media (max-width: 1200px) {
    .footer__shell-top-left-img {
        -webkit-transform: translateX(-185px);
        transform: translateX(-185px);
    }
}

@media (max-width: 990px) {
    .footer__shell-top-left-img {
        display: none;
    }
}

.footer__shell-bottom {
    border-top: 1px solid rgba(212, 215, 221, 0.2);
}

.footer__shell-bottom-item {
    padding: 24px 34px 37px 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 576px) {
    .footer__shell-bottom-item {
        padding: 24px 10px 37px 10px;
    }
}

.footer__shell-bottom-item_inner {
    display: -ms-flexbox;
    display: flex;
    gap: 0 64px;
}

@media (max-width: 1200px) {
    .footer__shell-bottom-item_inner {
        gap: 0 0;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 639px) {
    .footer__shell-bottom-item_inner {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px 0;
    }
}

.footer__shell-bottom-left_logo {
    width: 194px;
    height: 53px;
}

.footer__shell-bottom-left_text {
    margin-top: 11px;
    color: #D6E1EF;
}

@media (max-width: 990px) {
    .footer__shell-bottom-center {
        width: 259px;
    }
}

@media (max-width: 639px) {
    .footer__shell-bottom-center {
        width: 100%;
    }
}

.footer__shell-bottom-center-tel {
    display: -ms-flexbox;
    display: flex;
    gap: 0 10px;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7px;
}

.footer__shell-bottom-center-cosial {
    margin-top: 9px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 8px;
}

.form {
    width: 846px;
}

@media (max-width: 1760px) {
    .form {
        width: 636px;
        margin: 0 auto;
    }
}

@media (max-width: 1340px) {
    .form {
        width: 577px;
    }
}

@media (max-width: 1200px) {
    .form {
        width: 100%;
    }
}

.form__input {
    background: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;
    width: 100%;
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__input::-webkit-input-placeholder {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__input::-moz-placeholder {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__input:-ms-input-placeholder {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__input::-ms-input-placeholder {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__input::placeholder {
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__input:focus {
    background: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;
    outline: 0;
    color: #6D737A;
    font-family: "Gilroy-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__bottom {
    margin-top: 54px;
}

@media (max-width: 767px) {
    .form__bottom {
        margin-top: 15px;
    }
}

.form__bottom-inner-item {
    display: -ms-flexbox;
    display: flex;
    gap: 0 40px;
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .form__bottom-inner-item {
        margin-bottom: 15px;
    }
}

.form__bottom-inner-item :last-child {
    margin-bottom: 0;
}

@media (max-width: 1760px) {
    .form__bottom-inner-item {
        gap: 0 24px;
    }
}

@media (max-width: 767px) {
    .form__bottom-inner-item {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 15px 0;
    }
}

.form__bottom-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .form__bottom-wrap {
        padding-right: 30px;
    }
}

@media (max-width: 990px) {
    .form__bottom-wrap {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .form__bottom-wrap {
        display: block;
    }
}

.form__bottom-wrap_text {
    width: 277px;
}

@media (max-width: 767px) {
    .form__bottom-wrap_text {
        width: 100%;
    }
}

.form__titel {
    margin-bottom: 35px;
}

@media (max-width: 767px) {
    .form__titel {
        margin-bottom: 15px;
    }
}

.form__input :invalid,
.form__input :valid {
    font-size: 13px;
}

.footer__mobile-img {
    display: none;
}

@media (max-width: 990px) {
    .footer__mobile-img {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 90px;
    }
}

@media (max-width: 990px) and (max-width: 576px) {
    .footer__mobile-img {
        margin-top: 50px;
    }
}

@media (max-width: 990px) and (max-width: 576px) {
    .footer__mobile-img img {
        width: 320px;
    }
}

@media (max-width: 990px) and (max-width: 424px) {
    .footer__mobile-img img {
        width: 255px;
    }
}